<!DOCTYPE html>
<html>
  <head>
    <title>tickets pass API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  </head>
  <body>
    <h1>tickets pass API</h1>
    <p>Welcome to tickets pass</p>
  </body>
</html>